TodoAPI/bin/*
TodoAPI/obj/*
TodoSPA/node_modules/*
TodoAPI/.vs/*
TodoAPI/TodoAPI.csproj.user
.vscode/tasks.json
.vscode/launch.json
TodoDAT/master.mdf
TodoDAT/mastlog.ldf
TodoDAT/model.mdf
TodoDAT/modellog.ldf
TodoDAT/msdbdata.mdf
TodoDAT/msdblog.ldf
TodoDAT/RestoreCheckpointDB5.CKP
TodoDAT/tempdb.mdf
TodoDAT/templog.ldf
TodoDAT/TodoDB.mdf
TodoDAT/TodoDB.ldf
.vscode/settings.json
