<nav class="navbar navbar-dark bg-primary">
  <div class="row mt-2">
    <div class="col-3">
      <h1 class="navbar-brand">TODO LIST</h1>
    </div>
    <div class="col-9">
      <div class="form-inline">
        <div class="form-group">
          <input (keyup.enter)="this.onSubmit()" [(ngModel)]="this.newTitle" class="form-control new-title mr-2" placeholder="Add Item ...">
          <button (click)="this.onSubmit()" class="btn btn-success font-weight-bold">Add</button>
          <button (click)="this.onClearAll()" class="btn btn-danger font-weight-bold ml-2">Clear All</button>
        </div>
      </div>
    </div>
  </div>
</nav>